html,body{
    width: 100%;
    height: 100%;
    background-color: green;
}







/*Aufgabe 2*/

.landscape{
    display: none;
}

.portrait{
    display: none;
}
@media (orientation: landscape) {
  .landscape {
    display: block;
  }
}

@media (orientation: portrait) {
  .portrait{
    display: block;
  }
}








/*Aufgabe 1*/
/*Sichtbarkeit grundlegend ausschalten*/
.extrasmall{
    display: none;
}

.small{
    display: none;
}

.medium{
    display: none;
}

.large{
    display:none;
}

.extralarge{
    display: none;
}

.extraextralarge{
    display: none;
}

/*Extra Small*/
@media (max-width: 576px){
    html, body{
        background-color: red;
    }
    .extrasmall{
        display: block;
    }
}

/*small*/

@media (min-width: 577px) and (max-width: 767px){
    html, body{
        background-color: blue;
    }
    .small{
        display:block;
    }
}

/*medium*/

@media (min-width: 768px) and (max-width: 991px){
    html, body{
        background-color: purple;
    }
    .medium{
        display:block;
    }
}


/*Large*/

@media (min-width: 992px) and (max-width: 1199px){
    html, body{
        background-color: yellow;
    }

    .large{
        display: block;
    }
}

/*ExtraLarge*/

@media (min-width: 1200px) and (max-width: 1399px){
    html, body{
        background-color: pink;
    }

    .extralarge{
        display: block;
    }
}

/*ExtraExtraLarge*/

@media (min-width: 1400px){
    html, body{
        background-color: white;
    }

    .extraextralarge{
        display: block;
    }
}




/*Aufgabe 3*/
@media print{
    body {
        background: white;   /* Hintergründe entfernen */
        color: black;
    }
    .small, .extrasmall, .medium, .img, .landscape, .portrait{
        display: none;
    }
    .large{
        display: block;
    }
    img{
        display: none;
    }
}




/*Aufgabe 4*/

.container {
    display: grid;
    gap: 10px;
}

.container {
    grid-template-columns: 1fr;
}

@media (min-width: 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

.box {
    background: lightblue;
    padding: 20px;
    border: 1px solid #aaa;
    text-align: center;
}